html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../images/bg-tile-body.jpg);
    background-position: 0px 0px;
    background-repeat: repeat;
}

.header {
	height:165px;
	background:#fff;
	}
	
.header .inner{
	max-width:960px;
	margin:0px auto;
}

.header .inner .brand{
	background:url(../images/dragon-island-logo.jpg) no-repeat top right;
	background-size:contain;
	height:165px;
	width:50%;
	display:block;
	float:left;
	text-indent:-9999px;
}

.header .inner .primary{
	background-size:contain;
	width:50%;
	max-width:400px;
	display:block;
	height:165px;
	float:left;
	}
	
.header .inner .primary ul li a{
	float:left;
	display:block;
	width:40%;
	height:150px;
	text-indent:-9999px;
}
.header .inner .primary ul li#RefFun a{
	background:url(../images/menu-Fun-up1x.jpg) no-repeat top left;
	background-size:contain;
}

.header .inner .primary ul li#RefBoring a{
	background:url(../images/menu-Boring-up1x.jpg) no-repeat top left;
	background-size:contain;
}
.header .inner .primary ul li#RefFun a:hover{
	background:url(../images/menu-Fun-hover1x.jpg) no-repeat top left;
	background-size:contain;
}

.header .inner .primary ul li#RefBoring a:hover{
	background:url(../images/menu-Boring-hover1x.jpg) no-repeat top left;
	background-size:contain;
}

.header .inner .primary ul li#RefFacebook a{
	background:url(../images/facebook-up.png) no-repeat top right;
	background-size:contain;
	width:10%;
}
.header .inner .primary ul li#RefFacebook a:hover{
	background:url(../images/facebook-hover.png) no-repeat top right;
	background-size:contain;
	width:10%;
}




/* mobile */

	.header .inner .primarymobile {
		background:#9bd0e2;
		position:absolute;
		top:100px;
		left:0px;
		right:0px;
		color:#000;
		font-size:16px;
		border: 2px solid #13a3c7;
		text-indent:10px;
		}
	
	.header .inner .primarymobile ul li{}
	
	.header .inner .primarymobile ul li a{
		display:block;
		color:#000;
		border-bottom:#06F 1px dashed;
		padding: 10px 10px 10px 10px;
		}
	
	.header .inner .primarymobile ul li a:visited{
		color:#000;
		}
	.header .inner .primarymobile ul li a:hover{
		background-color:rgba(27,192,235,0.5);
		}

	.header .inner .primarymobile ul li#RefResources a{

		}

	.header .inner .primarymobile ul li#RefFacebook a{
		background:url(../images/facebook-up-tiny.png) no-repeat center top;
		height:25px;
		display:block;
		color:#9bd0e2;
		font-size:10px;
		}

	.header .inner .primarymobile ul li#RefFacebook a:hover{
		background:url(../images/facebook-hover-tiny.png) no-repeat center top;
		}

@media only screen 
and (max-width : 500px) {
	
	
	.header, 
	.header .inner .brand, 
	.header .inner .primary,
	.header .inner .primary ul li a
	{  height:110px;

	}

}

#primarymobilebutton {display:none;}
.primarymobile {display:none;}


@media only screen 
and (max-width : 450px) {
	#primarymobilebutton {
	background:url(../images/coconuts-menu-mobile-up2.png) no-repeat top center;
	height:105px;
	position:relative;
	width:50%;
	min-width:100px;
	display:block;
	float:left;
	text-decoration:none;
	text-indent:-9999px;
	}
	
	#primarymobilebutton:hover {
	background:url(../images/coconuts-menu-mobile-hover2.png) no-repeat top center;
		}
		
	.header .inner .primary{display:none;}
	
	.main .inner .secondary{display:none;}
	}

/* main HomeBannerImage */

.main #HomeHeaderImage {
	 max-width:100%;
	 margin:0px auto;
	 display:block;
	 text-align:center;
		}
		
.main #HomeHeaderImage img{ max-width:100%;}

.HeaderImgCont {
	background:#fff;
	padding:0px;
	}
	
	/* Fun Page BannerImage */
	
.main .HeaderImgCont #FunPageHeaderImage {
	 max-width:100%;
	 margin:0px auto;
	 display:block;
	 text-align:center;
	 background:#F00;
		}
		
.main .HeaderImgCont #FunPageHeaderImage img{
	 max-width:100%;}

.FunImgCont {
	background:#FFF;
	padding:0px;
	}
	



/* main */


.main .inner .secondary{
	font-size:18px;
    border-radius: 5px;
	text-align:center;
	}
	
.main .inner .secondary ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	}
	
.main .inner .secondary ul li{
	float:left;
	}
		
.main .inner .secondary ul li a{
	display:block;
	color:#000;
	padding: 10px 30px 10px 30px;
	border-right:#09F 1px dashed;
	background-color:rgba(27,165,201,0.5);
	}

.main .inner .secondary ul li a:hover{
	background-color:rgba(27,192,235,0.8);
	}


.main{
	background:url(../images/bg-tile-bottomt.jpg) repeat-x bottom;}


.main .inner{
	max-width:960px;
	margin:-20px auto;
	}
	
article{
	padding: 20px 20px 20px 20px;}	
	
/* footer */	
	
.footer{
	height:300px;
	background:url(../images/footer-1bx.jpg) repeat-x #1a1a1a;
	}


.footer .inner{
	max-width:960px;
	margin:0px auto;
	background:#191919;
	position:relative;
	top:90px;
	left:10px;
	right:10px;
		}
		
.footer .inner .footernav ul li a{
	display:block;
 	color: #fff;
	float:left;
	padding: 0px 10px 0px 10px;
	text-align:center;
	border-right:#666 1px solid;
	}
	
.footer .inner .footernav ul li a:hover{
	color:#09C;
}
	
.footer .inner .footerCredit .clear {
	height:50px;
}
	
	
/* footer credits */	

.footer .inner .footerCredit ul li{
	color:#fff;
	float:left;
	padding-right:50px;
	}
	
	
	.footer .inner .footerCredit ul li a{
	color:#fff;
	}
	
	.footer .inner .footerCredit ul li a:hover{
	color:#09F;
	border-bottom: 1px dashed #09F;
	
	}